<!DOCTYPE html>
<html>
<head>
	<title>ISSUES</title>
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div id="app"></div>
	<script type="text/javascript">
		window.data = {{.data}}
	</script>
	<script type="text/javascript" src="/js/libs/jquery.js"></script>
	<script type="text/javascript" src="/js/libs/underscore.js"></script>
	<script type="text/javascript" src="/js/libs/backbone.js"></script>
	<script type="text/javascript" src="/js/libs/react.js"></script>
	<script type="text/javascript" src="/js/app.develop.js"></script>
</body>
</html>